{% extends "base.html" %} {% block title %}Simulverse Management System{%
endblock %} {% block head %} {{ super() }}

<script type="text/javascript">
  function del_space(space_id) {
    var url = "/space/delete/space/" + space_id;

    $.ajax({
      type: "POST",
      url: url,
      data: space_id,
      success: function () {
        location.reload();
      },
    });
  }
</script>
{% endblock %} {% block top_nav %} {% include 'include/topnav.html' %} {%
endblock %} {% block page_content %} {% with msg=msg %} {% include
"include/alerts.html" %} {% endwith %}

<main role="main" class="container">
  <div class="row">
    <div class="text-danger font-weight-bold">
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="jumbotron">{{data.text|safe}}</div>

    {% if login is sameas true%} {% for key, jumbo in data.spaces.items() %}
    <div class="jumbotron">
      <!-- Region name-->
      <h3>{{jumbo[0]}}</h3>

      <p>{{jumbo[1]}}</p>
      <a class="btn btn-sm btn-primary" href="/space/view/{{key}}" role="button"
        >Explore »</a
      >

      <p></p>
      {% if jumbo[2] == 'Editor' %}
      <a class="btn btn-sm btn-primary" href="/space/edit/{{key}}" role="button"
        >Update Space »</a
      >
      <a
        class="btn btn-sm btn-danger"
        role="button"
        onclick="del_space('{{key}}')"
        >Delete Space »</a
      >
      {% else %}
      <a class="btn btn-sm btn-secondary" role="button"> Update Space »</a>
      <a class="btn btn-sm btn-secondary" role="button"> Delete Space »</a>
      {% endif %}
    </div>
    <p></p>
    <p></p>
    {% endfor %} {% endif %}
  </div>
</main>
<body>
  <div style="text-align: center" ;>
    <a href="url"
      ><img src="https://t1.daumcdn.net/cfile/tistory/167EB4465012A76027"
    /></a>
    <div style="text-align: center" ;>
      개발도상국의 영세 축산농가들은 가축의 생산량에 따라 가구의 소득에 영향을
      받으며 이는 생계에 직접적인 영향을 미칩니다.
    </div>
    <div style="text-align: center" ;>
      하지만 특정 개발도상국 내에서는 인공수정과 관련하여 잘못된 인식이
      퍼져있습니다
    </div>
    <div style="text-align: center" ;>
      이러한 문제를 해결하기위해 인공수정의 인식개선을 넘어서 농가의 정보를
      공유하고 판매가 가능한 메타버스 커뮤니티 플랫폼을 제안합니다.
    </div>
  </div>
</body>
<!-- /.container -->

{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
